@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 92.64%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header{
  background: rgb(67,75,82);
}

header .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  flex-basis: 50%;
  padding: 20px 0;
}

.nav-items{
  display: flex;
}

.nav-link{
  font-size: 15px;
  font-weight: 600;
  margin: 0px 2.9%;
}

.links{
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.active-link{
  color: rgb(220,98,38);
}

.links:hover{
  color: rgb(220,98,38);
}

.social-media{
  display: flex;
}

.social-link{
  text-indent: -9999px;
}

.social-list{
  padding: 0 8px;

}

.social-link::before {
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
  color: rgb(128,140,148);
  font-size: 26px;
}

.twitter::before {
  content: "\f081";
  transition: all 0.5s ease;
}

.youtube::before {
  content: "\f167";
  transition: all 0.5s ease;
}

.rssfeed::before {
  content: "\f09e";
  transition: all 0.5s ease;
}

.facebook::before {
  content: "\f082";
  transition: all 0.5s ease;
}

.google::before {
  content: "\f0d4";
  transition: all 0.5s ease;
}

.twitter:hover::before {
  color: rgb(29, 161, 242);
  transform: scale(1.7);
}

.youtube:hover::before {
  color: rgb(255, 0, 0);
  transform: scale(1.7);
}

.rssfeed:hover::before {
  color: rgb(238, 128, 47);
  transform: scale(1.7);
}

.facebook:hover::before {
  color: rgb(66, 103, 178);
  transform: scale(1.7);
}

.google:hover::before {
  color: rgb(46, 178, 70);
  transform: scale(1.7);
}


/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/

/* banner sec start */

.banner .wrapper{
  width: 100%;
  position: relative;
  margin: 0;
}

.slide-list{
  display: none;
}

.active-slide{
  display: block;
}

.slide-list{
  position: relative;

}

.slide-img img{
  width: 1519px;
}

.slide-heading{
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 13.1%;
  background: rgb(220,98,38);
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 2%;
}

.slide-controls{
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 13.1%;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 2% 38px 2%;
}

.pre-btn a,.nxt-btn a{
  text-indent: -9999px;
}

.pre-btn a::before ,.nxt-btn a::before{
  text-indent: 0;
  font-family: "FontAwesome";
  float: left;
  color: rgb(255, 255, 255);
  font-size: 33px;
}

.pre-btn a::before{
  content: "\f053";
  transition: all 0.5s ease;
}

.nxt-btn a::before{
  content: "\f054";
  transition: all 0.5s ease;
}

.pre-btn a:hover::before,.nxt-btn a:hover::before{
  color: rgb(0,0,0);
}


/* banner sec end */

/* tips-sec start */

.tips-sec{
  padding: 50px 0;
}

.sec-heading{
  text-align: center;
}

.sec-heading h2{
  font-size: 42px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 47px 0;
}

.tip-cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card{
  flex-basis: 20%;
  text-align: center;
}

/* .card-icon,.graph-icon,.money-icon,.glob-icon{
  display: block;
  text-indent: -9999px;
}

.card-img{
  margin: 20px 0;
}

.card-icon::before,.graph-icon::before,.money-icon::before,.glob-icon::before{
  text-indent: 0;
  font-family: "FontAwesome";
  color: rgb(255, 255, 255);
  background: rgb(220,98,38);
  font-size: 34px;
  padding: 23px 2.2%;
  margin: 0px 35%;
  border-radius: 50px;
}

.card-icon::before{
  content: "\f09d";
}
.graph-icon::before{
  content: "\f09d";
} */

/* tips-sec end */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/

/*=================================
  footer styling ends here
=================================*/

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
}
